.movies__input {
    border: 0;
    padding: 0 5px;
    height: 30px;
    margin: 0 0 0 5px;
    border-radius: 5px;
    background-color: #454874;
    font-family: 'Montserrat';
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}

.movies__input:active {
    transform: scale(0.99);
}